
@{
    ViewBag.Title = "Permanent Life Insurance";
}
<section>
<div class="container">
  <div class="row">
    <h2>Permanent Life Insurance</h2>

    @Html.Raw(ViewBag.message)
  </div></div></section>