
@{
    ViewBag.Title = "Universal Life";
}
<section>
  <div class="container">
    <div class="row">
      <h2>What Universal Life Has to Offer</h2>

      <h4>Predictable premium payments that will never increase</h4>
      <p>No matter how low interest rates fall or how high the cost of insurance climbs, your premium will never increase as long as you pay the minimum monthly premium.</p>
      <h4>Accessibility</h4>
      <p>If you’re diagnosed with a terminal illness or confined to a nursing home, you may be able to receive up to 100% of a discounted death benefit in advance.</p>
      <h4>Guarantees</h4>
      <p>Provides lifetime protection and the initial interest rate is guaranteed for 12 months from the date the premium is received. In addition, this rate is guaranteed to be no less than 3%.</p>
      <h4>Included Benefits</h4>
      <p>Safety Benefit, Transportation Benefit and No Lapse Guarantee are automatically included in your policy.</p>
      <h4>Optional Riders</h4>
      <p>Additional Term Rider, Insured Children's Benefit, Waiver of Premium Benefit for Total Disability, Accidental Death Benefit and Guaranteed Insurability Option are available at an additional cost.</p>

      <table class="table table-bordered table-striped table-responsive">
        <thead><tr><th>Pros</th><th>Cons</th></tr></thead>
        <tbody>
        <tr><td>Designed to last a person's entire lifetime as long as sufficient premiums are paid.</td><td>Designed to last a person's entire lifetime as long as sufficient premiums are paid.	Coverage may not last if interest rates are low.</td></tr>
        <tr><td>May build cash value, which can be accessed through loans or withdrawals. </td><td>Cash value may be negatively affected by low interest rates and inflation risk.</td></tr>
        <tr><td>Flexible premiums and death benefit.</td><td>Typically higher premiums than term life insurance.</td></tr>
        </tbody>
      </table>


      <h2>More Information on Universal Life</h2>
      <h4>What exactly is Universal Life Insurance?</h4>
      <p>Universal life insurance is designed to offer many of the same benefits as traditional permanent* life insurance policies such as whole life, but offers more flexibility that allows you to adjust your premiums and coverage as your needs change. This added flexibility can give you the valuable life insurance coverage you need, while maintaining more control over several important parts of your policy.</p>

      <h4>Flexible Premium Payments</h4>
      <p>When you purchase a traditional whole life policy, you'll pay a flat premium rate that you aren't able to adjust. Simply stated, the price you pay for your policy at the time it issues will remain unchanged. However, with a universal life policy, you may be able to adjust your premiums - within the limits of your contract. That means you could possibly increase, decrease, or even skip a payment depending on such factors as the amount of premium you have paid into the policy, its cash value, and any policy loans or withdrawals that you may have taken. This can also be a valuable option to exercise when financial needs change.</p>

      <h4>An Adjustable Death Benefit</h4>
      <p>When you buy a whole life insurance policy, you carefully calculate how much coverage you may need to financially provide for your loved ones upon your death. But what happens if you need additional coverage in the future? Generally, if you have whole life policy and need more coverage, your only option may be to buy another life insurance policy. With a universal life policy, you may be able to adjust your death benefit (within your plan limits) without having to purchase a new policy. However, you might be required to go through the underwriting process again, which may include a medical exam.</p>
      <p>Some individuals, however, might find it necessary to decrease the death benefit of their universal life policy. If in the future you decide to lower your death benefit, generally you'll be permitted to do so after the policy has been in force for certain period of time (policy guidelines will differ, so be sure to check your policy language).</p>

      <h4>The Flexibility of a Policy Loan</h4>
      <p>Universal life insurance (like other permanent life insurance policies) has the potential to build cash value over time. Any accumulated cash value in your policy may be borrowed against by way of a policy loan and used to provide living benefits. For example, if you were to have enough cash value in your policy, you could use it to help pay for educational expenses or even pay your insurance premiums. Or, you may prefer to simply let the cash value grow and use it to supplement your income upon retirement.</p>
      <p>Unlike a conventional loan from a bank or credit union, you are not required to pay back a life insurance policy loan. However, as long as your policy is in force, loan interest will continue to build and be added to the loan balance, thereby increasing the amount you owe. More importantly, any money you borrow and don't pay back (including the interest accrued) would be deducted from your death benefit when you die, which means your beneficiary would receive less. For example, let's say that you have a $350,000 policy and take out a $10,000 loan. If you were to die before the loan is paid back, your beneficiary would receive $10,000 less (plus any accumulated interest) than the original $350,000.</p>
      <h4>Is Universal Life Insurance Right for You?</h4>
      <p>A universal life insurance policy may be appealing if you like the idea of having a permanent life insurance policy that offers:</p>
      <ul>
        <li>Flexible options regarding the amount and timing of premium payments</li>
        <li>Protection for your entire life (provided premium payments are timely made to keep the policy in force)</li>
        <li>The ability to take out policy loans according to your contract</li>
        <li>The potential to build cash value over time that grows tax-deferred to help you with long-term financial goals</li>
      </ul>
    </div></div></section>
