body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.btn-card { height: 100%; width:100%}
.btn-option { width: 200px;margin: 15px;border-radius: 0;}
.btn-check, .btn-check:hover, .btn-check:active, .btn-check:focus { font-weight: bold;}

.btn-check:after {content: " ✓";}
.panel img { max-width: 400px;}
.gplogo { width: 50%;}
footer {margin-top:15px}
.panel { float: left;margin-right: 15px;}
.panel + h3 { clear: both;}